{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="static/css/style_post.css">
{% endblock style %}

{% block title %}Home{% endblock title %}
{% block body %}
{% for i in post %}
<div class="mza">
        <div class="col">
          <div class="card shadow-sm">
            <img src="media\{{ i.new_img }}"  class="d-block w-100" alt="...">
            {% comment %} {{ i.new_img }} {% endcomment %}
            <div class="card-body">
              <p class="card-text">{{ i.desc }}</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
</div>
{% endfor %}
{% endblock body %}